body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1669px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1408px;
  height:659px;
}
#u19059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:1408px;
  height:659px;
  display:flex;
}
#u19059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:676px;
}
#u19060 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:8px;
  width:67px;
  height:676px;
  display:flex;
}
#u19060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:669px;
}
#u19061 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:6px;
  width:99px;
  height:669px;
  display:flex;
}
#u19061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:669px;
}
#u19062 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:6px;
  width:99px;
  height:669px;
  display:flex;
}
#u19062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:669px;
}
#u19063 {
  border-width:0px;
  position:absolute;
  left:1379px;
  top:6px;
  width:99px;
  height:669px;
  display:flex;
}
#u19063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:669px;
}
#u19064 {
  border-width:0px;
  position:absolute;
  left:1474px;
  top:6px;
  width:99px;
  height:669px;
  display:flex;
}
#u19064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u19065 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:15px;
  width:83px;
  height:37px;
  display:flex;
}
#u19065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u19066 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:15px;
  width:83px;
  height:37px;
  display:flex;
}
#u19066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u19067 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:15px;
  width:83px;
  height:37px;
  display:flex;
}
#u19067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u19068 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:15px;
  width:83px;
  height:37px;
  display:flex;
}
#u19068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u19069 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:15px;
  width:83px;
  height:37px;
  display:flex;
}
#u19069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19070 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:214px;
  width:462px;
  height:150px;
  display:flex;
}
#u19070 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:669px;
}
#u19071 {
  border-width:0px;
  position:absolute;
  left:1570px;
  top:6px;
  width:99px;
  height:669px;
  display:flex;
}
#u19071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u19072 {
  border-width:0px;
  position:absolute;
  left:1576px;
  top:15px;
  width:83px;
  height:37px;
  display:flex;
}
#u19072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
