body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1018px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19642 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:21px;
  width:1005px;
  height:90px;
}
#u19643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u19643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
  display:flex;
}
#u19643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u19644 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:162px;
  height:30px;
  display:flex;
}
#u19644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u19645 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:0px;
  width:192px;
  height:30px;
  display:flex;
}
#u19645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u19646 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:0px;
  width:162px;
  height:30px;
  display:flex;
}
#u19646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u19647 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:0px;
  width:162px;
  height:30px;
  display:flex;
}
#u19647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u19648 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:0px;
  width:163px;
  height:30px;
  display:flex;
}
#u19648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u19649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:164px;
  height:30px;
  display:flex;
}
#u19649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u19650 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:30px;
  width:162px;
  height:30px;
  display:flex;
}
#u19650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u19651 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:30px;
  width:192px;
  height:30px;
  display:flex;
}
#u19651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u19652 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:30px;
  width:162px;
  height:30px;
  display:flex;
}
#u19652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u19653 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:30px;
  width:162px;
  height:30px;
  display:flex;
}
#u19653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u19654 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:30px;
  width:163px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u19654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u19655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:164px;
  height:30px;
  display:flex;
}
#u19655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u19656 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:60px;
  width:162px;
  height:30px;
  display:flex;
}
#u19656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u19657 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:60px;
  width:192px;
  height:30px;
  display:flex;
}
#u19657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u19658 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:60px;
  width:162px;
  height:30px;
  display:flex;
}
#u19658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u19659 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:60px;
  width:162px;
  height:30px;
  display:flex;
}
#u19659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u19660 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:60px;
  width:163px;
  height:30px;
  display:flex;
}
#u19660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19661 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:50px;
  width:80px;
  height:32px;
  display:flex;
  opacity:0;
}
#u19661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19662 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:129px;
  width:387px;
  height:41px;
  display:flex;
}
#u19662 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
