body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1294px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33653 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:3px;
  width:69px;
  height:32px;
}
#u33654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u33655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33655 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:3px;
  width:103px;
  height:32px;
}
#u33656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u33657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33657 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:3px;
  width:103px;
  height:32px;
}
#u33658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u33659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1287px;
  height:366px;
}
#u33659 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:41px;
  width:1287px;
  height:366px;
}
#u33660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:175px;
  width:1283px;
  visibility:hidden;
  word-wrap:break-word;
}
