body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:803px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15914 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:11px;
  width:113px;
  height:32px;
  display:flex;
}
#u15914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u15915 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:326px;
  width:248px;
  height:42px;
  display:flex;
}
#u15915 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u15915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15916 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:11px;
  width:113px;
  height:32px;
  display:flex;
}
#u15916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:229px;
}
#u15917 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:58px;
  width:786px;
  height:229px;
  display:flex;
}
#u15917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15918 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:11px;
  width:113px;
  height:32px;
  display:flex;
}
#u15918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
