body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1573px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1408px;
  height:659px;
}
#u3258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:1408px;
  height:659px;
  display:flex;
}
#u3258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:676px;
}
#u3259 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:8px;
  width:67px;
  height:676px;
  display:flex;
}
#u3259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:669px;
}
#u3260 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:6px;
  width:99px;
  height:669px;
  display:flex;
}
#u3260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:669px;
}
#u3261 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:6px;
  width:99px;
  height:669px;
  display:flex;
}
#u3261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:669px;
}
#u3262 {
  border-width:0px;
  position:absolute;
  left:1379px;
  top:6px;
  width:99px;
  height:669px;
  display:flex;
}
#u3262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:669px;
}
#u3263 {
  border-width:0px;
  position:absolute;
  left:1474px;
  top:6px;
  width:99px;
  height:669px;
  display:flex;
}
#u3263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u3264 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:15px;
  width:83px;
  height:37px;
  display:flex;
}
#u3264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u3265 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:15px;
  width:83px;
  height:37px;
  display:flex;
}
#u3265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u3266 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:15px;
  width:83px;
  height:37px;
  display:flex;
}
#u3266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u3267 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:15px;
  width:83px;
  height:37px;
  display:flex;
}
#u3267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u3268 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:15px;
  width:83px;
  height:37px;
  display:flex;
}
#u3268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3269 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:214px;
  width:462px;
  height:150px;
  display:flex;
}
#u3269 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
