body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1267px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:303px;
}
#u13650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:303px;
  display:flex;
}
#u13650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13651 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:313px;
  width:70px;
  height:16px;
  display:flex;
}
#u13651 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13651_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 133, 244, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13652 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:309px;
  width:84px;
  height:40px;
  display:flex;
}
#u13652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:247px;
}
#u13653 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:351px;
  width:272px;
  height:247px;
  display:flex;
}
#u13653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u13654 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:321px;
  width:544px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u13654 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 133, 244, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13655 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:598px;
  width:84px;
  height:40px;
  display:flex;
}
#u13655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1256px;
  height:290px;
}
#u13656 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:648px;
  width:1256px;
  height:290px;
  display:flex;
}
#u13656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
