body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1267px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:303px;
}
#u14761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:303px;
  display:flex;
}
#u14761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14762 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:313px;
  width:70px;
  height:16px;
  display:flex;
}
#u14762 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14762_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 133, 244, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14763 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:309px;
  width:84px;
  height:40px;
  display:flex;
}
#u14763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:247px;
}
#u14764 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:351px;
  width:272px;
  height:247px;
  display:flex;
}
#u14764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u14765 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:321px;
  width:544px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u14765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 133, 244, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14766 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:598px;
  width:84px;
  height:40px;
  display:flex;
}
#u14766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1256px;
  height:290px;
}
#u14767 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:648px;
  width:1256px;
  height:290px;
  display:flex;
}
#u14767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
