body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:476px;
}
#u33639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:1285px;
  height:476px;
}
#u33640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:230px;
  width:1281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33641 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:5px;
  width:69px;
  height:32px;
}
#u33642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u33643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33643 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:5px;
  width:103px;
  height:32px;
}
#u33644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
