body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:476px;
}
#u19519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:1285px;
  height:476px;
  display:flex;
}
#u19519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19520 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:5px;
  width:69px;
  height:32px;
  display:flex;
}
#u19520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19521 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:5px;
  width:103px;
  height:32px;
  display:flex;
}
#u19521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
