body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1267px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:303px;
}
#u20436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:303px;
  display:flex;
}
#u20436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20437 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:313px;
  width:70px;
  height:16px;
  display:flex;
}
#u20437 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20437_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 133, 244, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20438 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:309px;
  width:84px;
  height:40px;
  display:flex;
}
#u20438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:247px;
}
#u20439 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:351px;
  width:272px;
  height:247px;
  display:flex;
}
#u20439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u20440 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:321px;
  width:544px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u20440 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 133, 244, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20441 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:598px;
  width:84px;
  height:40px;
  display:flex;
}
#u20441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1256px;
  height:290px;
}
#u20442 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:648px;
  width:1256px;
  height:290px;
  display:flex;
}
#u20442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
