body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1267px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:303px;
}
#u20655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:303px;
  display:flex;
}
#u20655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20656 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:313px;
  width:70px;
  height:16px;
  display:flex;
}
#u20656 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20656_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 133, 244, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20657 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:309px;
  width:84px;
  height:40px;
  display:flex;
}
#u20657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:247px;
}
#u20658 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:351px;
  width:272px;
  height:247px;
  display:flex;
}
#u20658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u20659 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:321px;
  width:544px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u20659 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 133, 244, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20660 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:598px;
  width:84px;
  height:40px;
  display:flex;
}
#u20660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1256px;
  height:290px;
}
#u20661 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:648px;
  width:1256px;
  height:290px;
  display:flex;
}
#u20661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
