body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1267px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u17864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:303px;
}
#u17864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:303px;
  display:flex;
}
#u17864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17865 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:313px;
  width:70px;
  height:16px;
  display:flex;
}
#u17865 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17865_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 133, 244, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17866 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:309px;
  width:84px;
  height:40px;
  display:flex;
}
#u17866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:247px;
}
#u17867 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:351px;
  width:272px;
  height:247px;
  display:flex;
}
#u17867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u17868 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:321px;
  width:544px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u17868 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 133, 244, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17869 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:598px;
  width:84px;
  height:40px;
  display:flex;
}
#u17869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1256px;
  height:290px;
}
#u17870 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:648px;
  width:1256px;
  height:290px;
  display:flex;
}
#u17870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
