body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2253px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2129px;
  height:470px;
}
#u18141 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-7px;
  width:2129px;
  height:470px;
  display:flex;
}
#u18141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:43px;
}
#u18142 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:2px;
  width:160px;
  height:43px;
  display:flex;
}
#u18142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:48px;
}
#u18143 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:329px;
  height:48px;
  display:flex;
}
#u18143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18144 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:292px;
  width:123px;
  height:52px;
  display:flex;
  opacity:0;
}
#u18144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18145 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:246px;
  width:489px;
  height:163px;
}
#u18146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:60px;
}
#u18146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:60px;
  display:flex;
  font-size:11px;
}
#u18146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:60px;
}
#u18147 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:0px;
  width:36px;
  height:60px;
  display:flex;
  font-size:11px;
}
#u18147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:60px;
}
#u18148 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:0px;
  width:56px;
  height:60px;
  display:flex;
  font-size:11px;
}
#u18148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:60px;
}
#u18149 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:82px;
  height:60px;
  display:flex;
  font-size:11px;
}
#u18149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u18150 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:0px;
  width:94px;
  height:60px;
  display:flex;
  font-size:12px;
}
#u18150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:60px;
}
#u18151 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:0px;
  width:95px;
  height:60px;
  display:flex;
  font-size:12px;
}
#u18151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:60px;
}
#u18152 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:0px;
  width:83px;
  height:60px;
  display:flex;
  font-size:12px;
}
#u18152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:47px;
}
#u18153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:41px;
  height:47px;
  display:flex;
}
#u18153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:47px;
}
#u18154 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:60px;
  width:36px;
  height:47px;
  display:flex;
}
#u18154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:47px;
}
#u18155 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:60px;
  width:56px;
  height:47px;
  display:flex;
}
#u18155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:47px;
}
#u18156 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:60px;
  width:82px;
  height:47px;
  display:flex;
}
#u18156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:47px;
}
#u18157 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:60px;
  width:94px;
  height:47px;
  display:flex;
}
#u18157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:47px;
}
#u18158 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:60px;
  width:95px;
  height:47px;
  display:flex;
}
#u18158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:47px;
}
#u18159 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:60px;
  width:83px;
  height:47px;
  display:flex;
}
#u18159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:56px;
}
#u18160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:41px;
  height:56px;
  display:flex;
}
#u18160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:56px;
}
#u18161 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:107px;
  width:36px;
  height:56px;
  display:flex;
}
#u18161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u18162 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:107px;
  width:56px;
  height:56px;
  display:flex;
}
#u18162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:56px;
}
#u18163 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:107px;
  width:82px;
  height:56px;
  display:flex;
}
#u18163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:56px;
}
#u18164 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:107px;
  width:94px;
  height:56px;
  display:flex;
}
#u18164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:56px;
}
#u18165 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:107px;
  width:95px;
  height:56px;
  display:flex;
}
#u18165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:56px;
}
#u18166 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:107px;
  width:83px;
  height:56px;
  display:flex;
}
#u18166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u18167 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:636px;
  width:478px;
  height:106px;
  display:flex;
}
#u18167 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u18167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18168 {
  border-width:0px;
  position:absolute;
  left:2055px;
  top:254px;
  width:211px;
  height:140px;
}
#u18169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:42px;
}
#u18169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:42px;
  display:flex;
  font-size:12px;
}
#u18169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:42px;
}
#u18170 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:71px;
  height:42px;
  display:flex;
  font-size:12px;
}
#u18170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:42px;
}
#u18171 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:71px;
  height:42px;
  display:flex;
  font-size:12px;
}
#u18171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:47px;
}
#u18172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:69px;
  height:47px;
  display:flex;
}
#u18172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:47px;
}
#u18173 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:42px;
  width:71px;
  height:47px;
  display:flex;
}
#u18173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:47px;
}
#u18174 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:42px;
  width:71px;
  height:47px;
  display:flex;
}
#u18174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:51px;
}
#u18175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:69px;
  height:51px;
  display:flex;
}
#u18175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:51px;
}
#u18176 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:89px;
  width:71px;
  height:51px;
  display:flex;
}
#u18176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:51px;
}
#u18177 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:89px;
  width:71px;
  height:51px;
  display:flex;
}
#u18177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18178 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:5px;
  width:112px;
  height:36px;
  display:flex;
}
#u18178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:161px;
}
#u18179 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:450px;
  width:1101px;
  height:161px;
  display:flex;
}
#u18179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18180 label {
  left:0px;
  width:100%;
}
#u18180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u18180 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:328px;
  width:19px;
  height:16px;
  display:flex;
}
#u18180 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u18180_img.selected {
}
#u18180.selected {
}
#u18180_img.disabled {
}
#u18180.disabled {
}
#u18180_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18180_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u18181 label {
  left:0px;
  width:100%;
}
#u18181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u18181 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:378px;
  width:19px;
  height:16px;
  display:flex;
}
#u18181 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u18181_img.selected {
}
#u18181.selected {
}
#u18181_img.disabled {
}
#u18181.disabled {
}
#u18181_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18181_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u18182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18182 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:5px;
  width:112px;
  height:36px;
  display:flex;
}
#u18182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u18183 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:41px;
  width:488px;
  height:64px;
  display:flex;
}
#u18183 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u18183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18184 label {
  left:0px;
  width:100%;
}
#u18184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u18184 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:276px;
  width:19px;
  height:16px;
  display:flex;
}
#u18184 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u18184_img.selected {
}
#u18184.selected {
}
#u18184_img.disabled {
}
#u18184.disabled {
}
#u18184_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18184_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u18185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18185 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:5px;
  width:54px;
  height:36px;
  display:flex;
}
#u18185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18186 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:5px;
  width:50px;
  height:36px;
  display:flex;
}
#u18186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u18187 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:358px;
  width:103px;
  height:43px;
  display:flex;
  color:#7F7F7F;
}
#u18187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
