body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:803px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33645 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:11px;
  width:113px;
  height:32px;
}
#u33646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u33647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u33647 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:6px;
  width:248px;
  height:42px;
}
#u33648 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:228px;
  word-wrap:break-word;
}
#u33649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33649 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:11px;
  width:113px;
  height:32px;
}
#u33650 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u33651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:229px;
}
#u33651 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:58px;
  width:786px;
  height:229px;
}
#u33652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
