body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1255px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20212 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:66px;
  width:1101px;
  height:89px;
}
#u20213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u20213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
  display:flex;
}
#u20213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u20214 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:0px;
  width:145px;
  height:30px;
  display:flex;
}
#u20214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u20215 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:0px;
  width:224px;
  height:30px;
  display:flex;
}
#u20215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20216 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u20216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u20217 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:0px;
  width:137px;
  height:30px;
  display:flex;
}
#u20217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u20218 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:0px;
  width:137px;
  height:30px;
  display:flex;
}
#u20218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u20219 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:0px;
  width:137px;
  height:30px;
  display:flex;
}
#u20219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u20220 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:0px;
  width:179px;
  height:30px;
  display:flex;
}
#u20220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u20221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:42px;
  height:30px;
  display:flex;
}
#u20221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u20222 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:30px;
  width:145px;
  height:30px;
  display:flex;
}
#u20222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u20223 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:30px;
  width:224px;
  height:30px;
  display:flex;
}
#u20223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20224 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u20224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u20225 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:30px;
  width:137px;
  height:30px;
  display:flex;
}
#u20225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u20226 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:30px;
  width:137px;
  height:30px;
  display:flex;
}
#u20226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u20227 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:30px;
  width:137px;
  height:30px;
  display:flex;
}
#u20227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u20228 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:30px;
  width:179px;
  height:30px;
  display:flex;
  color:#0079FE;
}
#u20228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:29px;
}
#u20229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:42px;
  height:29px;
  display:flex;
}
#u20229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u20230 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:60px;
  width:145px;
  height:29px;
  display:flex;
}
#u20230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:29px;
}
#u20231 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:60px;
  width:224px;
  height:29px;
  display:flex;
}
#u20231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u20232 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:60px;
  width:100px;
  height:29px;
  display:flex;
}
#u20232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:29px;
}
#u20233 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:60px;
  width:137px;
  height:29px;
  display:flex;
}
#u20233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:29px;
}
#u20234 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:60px;
  width:137px;
  height:29px;
  display:flex;
}
#u20234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:29px;
}
#u20235 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:60px;
  width:137px;
  height:29px;
  display:flex;
}
#u20235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:29px;
}
#u20236 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:60px;
  width:179px;
  height:29px;
  display:flex;
  color:#0079FE;
}
#u20236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20237 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:16px;
  width:130px;
  height:122px;
}
#u20238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u20238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
}
#u20239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:130px;
  height:32px;
  display:flex;
}
#u20239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u20240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:130px;
  height:30px;
  display:flex;
}
#u20240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u20241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:130px;
  height:30px;
  display:flex;
}
#u20241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20242 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:16px;
  width:56px;
  height:30px;
  display:flex;
  color:#FFFFFF;
}
#u20242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20243 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:16px;
  width:56px;
  height:30px;
  display:flex;
  color:#FFFFFF;
}
#u20243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20244 label {
  left:0px;
  width:100%;
}
#u20244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20244 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:76px;
  width:100px;
  height:16px;
  display:flex;
}
#u20244 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u20244_img.selected {
}
#u20244.selected {
}
#u20244_img.disabled {
}
#u20244.disabled {
}
#u20244_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20244_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u20245 label {
  left:0px;
  width:100%;
}
#u20245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20245 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:102px;
  width:100px;
  height:16px;
  display:flex;
}
#u20245 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u20245_img.selected {
}
#u20245.selected {
}
#u20245_img.disabled {
}
#u20245.disabled {
}
#u20245_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20245_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u20246 label {
  left:0px;
  width:100%;
}
#u20246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20246 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:132px;
  width:100px;
  height:16px;
  display:flex;
}
#u20246 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u20246_img.selected {
}
#u20246.selected {
}
#u20246_img.disabled {
}
#u20246.disabled {
}
#u20246_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20246_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u20247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20247 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:166px;
  width:496px;
  height:50px;
  display:flex;
}
#u20247 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u20247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20248 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:16px;
  width:56px;
  height:30px;
  display:flex;
  color:#FFFFFF;
}
#u20248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20249 label {
  left:0px;
  width:100%;
}
#u20249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20249 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:105px;
  width:17px;
  height:16px;
  display:flex;
}
#u20249 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u20249_img.selected {
}
#u20249.selected {
}
#u20249_img.disabled {
}
#u20249.disabled {
}
#u20249_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:1px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20249_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u20250 label {
  left:0px;
  width:100%;
}
#u20250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20250 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:133px;
  width:100px;
  height:16px;
  display:flex;
}
#u20250 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u20250_img.selected {
}
#u20250.selected {
}
#u20250_img.disabled {
}
#u20250.disabled {
}
#u20250_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20250_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u20251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:394px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20251 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:247px;
  width:449px;
  height:394px;
  display:flex;
}
#u20251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u20252 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:258px;
  width:17px;
  height:17px;
  display:flex;
}
#u20252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:2px;
}
#u20253 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:584px;
  width:438px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0925176944516261deg);
  -moz-transform:rotate(0.0925176944516261deg);
  -ms-transform:rotate(0.0925176944516261deg);
  transform:rotate(0.0925176944516261deg);
}
#u20253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u20254 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:593px;
  width:82px;
  height:41px;
  display:flex;
  font-size:18px;
}
#u20254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u20255 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:593px;
  width:74px;
  height:41px;
  display:flex;
  font-size:18px;
}
#u20255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20256 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:258px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20256 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20256_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20257 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:318px;
  width:80px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20257 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20257_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20258 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:313px;
  width:300px;
  height:28px;
  display:flex;
  text-align:left;
}
#u20258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20259 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:366px;
  width:80px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20259_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20260 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:361px;
  width:300px;
  height:125px;
  display:flex;
  text-align:left;
}
#u20260 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20261 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:504px;
  width:160px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20261 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20261_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20262 label {
  left:0px;
  width:100%;
}
#u20262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u20262 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:507px;
  width:100px;
  height:15px;
  display:flex;
}
#u20262 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u20262_img.selected {
}
#u20262.selected {
}
#u20262_img.disabled {
}
#u20262.disabled {
}
#u20262_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u20262_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u20263 label {
  left:0px;
  width:100%;
}
#u20263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u20263 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:507px;
  width:100px;
  height:15px;
  display:flex;
}
#u20263 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u20263_img.selected {
}
#u20263.selected {
}
#u20263_img.disabled {
}
#u20263.disabled {
}
#u20263_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u20263_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u20264 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:31px;
  width:0px;
  height:0px;
}
#u20264_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:193px;
  height:12px;
}
#u20264_seg1 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:-6px;
  width:12px;
  height:151px;
}
#u20264_seg2 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:133px;
  width:212px;
  height:12px;
}
#u20264_seg3 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:133px;
  width:12px;
  height:83px;
}
#u20264_seg4 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u20264_seg5 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:202px;
  width:22px;
  height:22px;
}
#u20264_text {
  border-width:0px;
  position:absolute;
  left:137px;
  top:106px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
