body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1255px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19336 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:66px;
  width:1101px;
  height:89px;
}
#u19337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u19337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
  display:flex;
}
#u19337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u19338 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:0px;
  width:145px;
  height:30px;
  display:flex;
}
#u19338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u19339 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:0px;
  width:224px;
  height:30px;
  display:flex;
}
#u19339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19340 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u19340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u19341 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:0px;
  width:137px;
  height:30px;
  display:flex;
}
#u19341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u19342 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:0px;
  width:137px;
  height:30px;
  display:flex;
}
#u19342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u19343 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:0px;
  width:137px;
  height:30px;
  display:flex;
}
#u19343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u19344 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:0px;
  width:179px;
  height:30px;
  display:flex;
}
#u19344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u19345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:42px;
  height:30px;
  display:flex;
}
#u19345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u19346 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:30px;
  width:145px;
  height:30px;
  display:flex;
}
#u19346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:30px;
}
#u19347 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:30px;
  width:224px;
  height:30px;
  display:flex;
}
#u19347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19348 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u19348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u19349 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:30px;
  width:137px;
  height:30px;
  display:flex;
}
#u19349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u19350 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:30px;
  width:137px;
  height:30px;
  display:flex;
}
#u19350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u19351 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:30px;
  width:137px;
  height:30px;
  display:flex;
}
#u19351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u19352 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:30px;
  width:179px;
  height:30px;
  display:flex;
  color:#0079FE;
}
#u19352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:29px;
}
#u19353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:42px;
  height:29px;
  display:flex;
}
#u19353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
}
#u19354 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:60px;
  width:145px;
  height:29px;
  display:flex;
}
#u19354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:29px;
}
#u19355 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:60px;
  width:224px;
  height:29px;
  display:flex;
}
#u19355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u19356 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:60px;
  width:100px;
  height:29px;
  display:flex;
}
#u19356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:29px;
}
#u19357 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:60px;
  width:137px;
  height:29px;
  display:flex;
}
#u19357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:29px;
}
#u19358 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:60px;
  width:137px;
  height:29px;
  display:flex;
}
#u19358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:29px;
}
#u19359 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:60px;
  width:137px;
  height:29px;
  display:flex;
}
#u19359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:29px;
}
#u19360 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:60px;
  width:179px;
  height:29px;
  display:flex;
  color:#0079FE;
}
#u19360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19361 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:16px;
  width:130px;
  height:122px;
}
#u19362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u19362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
}
#u19363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:130px;
  height:32px;
  display:flex;
}
#u19363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u19364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:130px;
  height:30px;
  display:flex;
}
#u19364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u19365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:130px;
  height:30px;
  display:flex;
}
#u19365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19366 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:16px;
  width:56px;
  height:30px;
  display:flex;
  color:#FFFFFF;
}
#u19366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19367 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:16px;
  width:56px;
  height:30px;
  display:flex;
  color:#FFFFFF;
}
#u19367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19368 label {
  left:0px;
  width:100%;
}
#u19368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19368 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:76px;
  width:100px;
  height:16px;
  display:flex;
}
#u19368 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u19368_img.selected {
}
#u19368.selected {
}
#u19368_img.disabled {
}
#u19368.disabled {
}
#u19368_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19368_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u19369 label {
  left:0px;
  width:100%;
}
#u19369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19369 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:102px;
  width:100px;
  height:16px;
  display:flex;
}
#u19369 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u19369_img.selected {
}
#u19369.selected {
}
#u19369_img.disabled {
}
#u19369.disabled {
}
#u19369_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19369_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u19370 label {
  left:0px;
  width:100%;
}
#u19370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19370 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:132px;
  width:100px;
  height:16px;
  display:flex;
}
#u19370 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u19370_img.selected {
}
#u19370.selected {
}
#u19370_img.disabled {
}
#u19370.disabled {
}
#u19370_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19370_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u19371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19371 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:166px;
  width:496px;
  height:50px;
  display:flex;
}
#u19371 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u19371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19372 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:16px;
  width:56px;
  height:30px;
  display:flex;
  color:#FFFFFF;
}
#u19372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19373 label {
  left:0px;
  width:100%;
}
#u19373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19373 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:105px;
  width:17px;
  height:16px;
  display:flex;
}
#u19373 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u19373_img.selected {
}
#u19373.selected {
}
#u19373_img.disabled {
}
#u19373.disabled {
}
#u19373_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:1px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19373_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u19374 label {
  left:0px;
  width:100%;
}
#u19374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19374 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:133px;
  width:100px;
  height:16px;
  display:flex;
}
#u19374 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u19374_img.selected {
}
#u19374.selected {
}
#u19374_img.disabled {
}
#u19374.disabled {
}
#u19374_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19374_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u19375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:394px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19375 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:247px;
  width:449px;
  height:394px;
  display:flex;
}
#u19375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u19376 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:258px;
  width:17px;
  height:17px;
  display:flex;
}
#u19376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:2px;
}
#u19377 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:584px;
  width:438px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0925176944516261deg);
  -moz-transform:rotate(0.0925176944516261deg);
  -ms-transform:rotate(0.0925176944516261deg);
  transform:rotate(0.0925176944516261deg);
}
#u19377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19378 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:593px;
  width:82px;
  height:41px;
  display:flex;
  font-size:18px;
}
#u19378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19379 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:593px;
  width:74px;
  height:41px;
  display:flex;
  font-size:18px;
}
#u19379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19380 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:258px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19380 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19380_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19381 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:318px;
  width:80px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19381 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19381_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19382 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:313px;
  width:300px;
  height:28px;
  display:flex;
  text-align:left;
}
#u19382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19383 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:366px;
  width:80px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19383 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19383_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19384 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:361px;
  width:300px;
  height:125px;
  display:flex;
  text-align:left;
}
#u19384 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19385 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:504px;
  width:160px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19385 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19385_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u19386 label {
  left:0px;
  width:100%;
}
#u19386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u19386 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:507px;
  width:100px;
  height:15px;
  display:flex;
}
#u19386 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u19386_img.selected {
}
#u19386.selected {
}
#u19386_img.disabled {
}
#u19386.disabled {
}
#u19386_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u19386_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u19387 label {
  left:0px;
  width:100%;
}
#u19387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u19387 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:507px;
  width:100px;
  height:15px;
  display:flex;
}
#u19387 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u19387_img.selected {
}
#u19387.selected {
}
#u19387_img.disabled {
}
#u19387.disabled {
}
#u19387_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u19387_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u19388 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:31px;
  width:0px;
  height:0px;
}
#u19388_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:193px;
  height:12px;
}
#u19388_seg1 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:-6px;
  width:12px;
  height:151px;
}
#u19388_seg2 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:133px;
  width:212px;
  height:12px;
}
#u19388_seg3 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:133px;
  width:12px;
  height:83px;
}
#u19388_seg4 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u19388_seg5 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:202px;
  width:22px;
  height:22px;
}
#u19388_text {
  border-width:0px;
  position:absolute;
  left:137px;
  top:106px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
